:root {
    --primary: #8c9227;
    --secondary: #bfc65d;
    --teritary: #d1d476;
    --primary-border: #9c7a3d;
    --secondary-border: #3b412e;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
}

/* header start */
header {
    background: var(--primary);
    height: 70px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid var(--primary-border);
}

.high-scores,
.timer-display {
    line-height: 80px;
    font-weight: bold;
}

.high-scores:hover {
    cursor: pointer;
}
/* header end */

/* main start */
main {
    margin-top: 40px;
}

.quiz-display {
    margin: 0 auto;
    width: 70%;
}

.quiz-display p {
    font-size: 20px;
}

.quiz-answers {
    width: 100%;
    margin: 20px 0;
    display: none;
}

.questions {
    background: var(--teritary);
    list-style: none;
    width: inherit;
    text-align: left;
    margin: 15px 0;
    padding: 10px;
    display: block;
    border: 2px solid var(--secondary-border);
    border-radius: 10px;
    font-weight: bold;
}

.questions:hover {
    cursor: pointer;
    background: var(--primary-border);
}

#start-btn {
    padding: 10px 50px;
    background: var(--secondary);
    border-radius: 10px;
    font-weight: bold;
}

#start-btn:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
}

.results {
    border-top: 1px solid #000;
    padding-top: 10px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #8e8e8e;
}
/* main end */

/* ending start */
#high-score-form {
    margin: 0 auto;
    width: 100%;
    display: none;
}

.quiz-display label {
    font-weight: bold;
    font-size: 20px;
}

#high-score {
    height: 20px;
    width: 30%;
}

#clear {
    display: none;
}

#submit-score,
#return,
#clear {
    padding: 5px 20px;
    background: var(--secondary);
    border-radius: 5px;
    font-weight: bold;
}

#submit-score:hover,
#return:hover,
#clear:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
}

.scoresDisplay {
    width: 100%;
    padding: 8px;
    background: var(--primary);
    color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
}

.scores {
    color: #000;
    font-weight: bold;
    display: block;
    margin: 15px 0;
    padding: 7px;
    width: 100%;
    background: var(--teritary);
    font-size: 20px;
}
/* ending end */